/**
 * CSS :
 *   selectorlist {
 *   property: value;
 *   [more property:value; pairs]
 *   }
 *
 *   REF : https://developer.mozilla.org/en-US/docs/Web/CSS/Reference
 *   CSS Grid Layout tutos :
 *   https://www.youtube.com/watch?v=jV8B24rSN5o
 *   https://gridbyexample.com
 */

 body{
   font-family: 'IBM Plex Mono', monospace;
   font-size: 1.2em;
   font-kerning: auto;
   line-height: 1.7em;
 }


 .main {
   position: relative;
   width: 100%;
   max-width: 940px;
   margin: 5px auto 6px auto;
   padding: 0 20px;
   padding-bottom: 20px;
   box-sizing: border-box;
 }

 .main_wide {
   position: relative;
   width: 100%;
   max-width: 1080px;
   margin: 5px auto 6px auto;
   padding: 0 20px;
   padding-bottom: 20px;
   box-sizing: border-box;
 }


h1 {
  font-weight: 700;
  font-size: 3.7em;
  color: blue;
  margin-bottom: 35px;
}

h2 {
  font-weight: 600;
  font-size: 1.7em;
  color: blue;
  margin-bottom: 25px;
}

a {
    font-weight: 600;
    text-decoration: underline;
    text-underline-position: under;
    color: blue;
}
a:hover {
    color: red;
}


/**
 * Our grid layout
 *
 */

/* --  2 column grid : 70% 30% ratio   -- */
 .grid_2colText{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: minmax(30px, auto);
  grid-gap: 5px;
  font-size: 0.75em;
  line-height: 1.45em;
}

.grid_2colText > div{
  background: #eee;
  padding: 1em;
}

.grid_2colText > div:nth-child(odd){
  background: #ddd;
}


/* --  2 column grid for 2 images : equal ratio   -- */

.grid_img_center{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 5%;
  align-items: center;
}


/* OUR IMAGES :::::::::::::::::::::::::::::::::::: */

img {
  max-width: 100%;
  height: auto;
}

.image--full{
  max-width: 100%;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.75s;
}

#myImg:hover {
  transition: 0.75s;
  opacity: 0.5;
}

/* The Modal (background) ::::::::::::::::::::::::::::::::*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  font-family: 'IBM Plex Mono', monospace;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.75s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 820px) {
  h1{
    font-size: 2.3em;
  }
}

@media (max-width: 640px) {
  h1{
    font-size: 1.7em;
    margin-bottom: 5px;
  }
  body{
    font-size: 0.9em;
  }
}
